.carousel-item {
    height: 52vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-img-top {
    height: 200px;
    width: 360px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* 화살표 */
.slick-arrow{
    z-index: 2; /* prev버튼은 위치 이동시 이미지 뒤로 숨겨짐 */
    position:absolute;  /* 원하는 위치에 지정  */
    top: 50%;
    width: 50px;
    height: 50px;
    transform: translateY(-25px);
}
.slick-prev.slick-arrow{ /* prev 이전 */
    left: 0;
}
.slick-next.slick-arrow{ /* next 다음 */
    right: 0;
}
.card-img-top:hover {
    opacity: 0.5;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

@media screen and (max-width: 996px){
    .cover-container {
        width: 0; !important;
        display: none; !important;
    }

}
@media screen and (min-width: 997px) {
    .cover-container {
        display: flex
    }
    
}

#afterList > a {
    color: black;
}

#afterList > a:hover {
    text-decoration: none;
}

#moimList > a {
    color: black;
}

#moimList > a:hover {
    text-decoration: none;
}

#keywordRank{
    position: absolute;
    height: 30px;
    overflow-y: hidden;
}
#keywordRank:hover{
    position: absolute;
    width: 180px;
    height: 200px;
    border: 1px solid lightgrey;
    cursor: pointer;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}