.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-img-top {
    height: 200px;
    width: 360px;
}
/* 화살표 */
.slick-arrow{
    z-index: 2; /* prev버튼은 위치 이동시 이미지 뒤로 숨겨짐 */
    position:absolute;  /* 원하는 위치에 지정  */
    top: 50%;
    width: 50px;
    height: 50px;
    transform: translateY(-25px);
}
.slick-prev.slick-arrow{ /* prev 이전 */
    left: 0;
}
.slick-next.slick-arrow{ /* next 다음 */
    right: 0;
}