#pagination a{
    color: black;
}

#pagination .disabled a{
    color: lightgrey;
}
#pagination .active a{
    background: lightseagreen;
    color: white;
}

#boardList .content-row:nth-child(2n+1){
    background: rgb(247, 247, 247);
}