
#groupForm-container{
    width: 600px;
}

div#groupForm {
    background-color: lightgrey;
    border-radius: 5px 5px 5px 5px;
    /*border: grey solid 1px;*/
}

#increase{
    border-radius: 5px 5px 5px 5px;
}

.staff > i {
    display: inline-block;
}

.staff > h2 {
    display: inline-block;
}

i {
    color: dimgray;
}

