@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
    font-family: 'fromdamiM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_ten@1.0/fromdamiM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:lang(ko){
    font-family: "Noto Sans KR", sans-serif;
}

* {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .3);
}

/* 레이아웃 */
#header {
    width: 100%; height: 50px; background: rgba(0,0,0,0.4);
}

li {
    list-style: none;
}
@media screen and (min-width: 993px) {
    #sub-menu {
        position: absolute;
        background-color: lightgrey;
        opacity: 0;
        visibility: hidden;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px
    }

    .navbar-nav > li:hover #sub-menu {
        padding: 10px 5px 10px 5px;
        opacity: 1;
        visibility: visible;
    }
}