<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userMapper">
	<!-- <resultMap id="userInsertResult01" type="userVO"> <result property="userNum" 
		column="userNum" /> <result property="id" column="id" /> <result property="password" 
		column="password" /> <result property="name" column="name" /> <result property="sex" 
		column="sex" /> <result property="phone" column="phone" /> <result property="address" 
		column="address" /> <result property="email" column="email" /> <result property="type" 
		column="type" /> <result property="status" column="status" /> <result property="createdAt" 
		column="createdAt" /> <result property="updatedAt" column="updatedAt" /> 
		</resultMap> -->

	<resultMap id="userResult" type="userVO">
		<result property="userNum" column="userNum" />
		<result property="id" column="id" />
		<result property="password" column="password" />
		<result property="name" column="name" />
		<result property="sex" column="sex" />
		<result property="phone" column="phone" />
		<result property="address" column="address" />
		<result property="address2" column="address2" />
		<result property="zonecode" column="zonecode" />
		<result property="email" column="email" />
		<result property="type" column="type" />
		<result property="status" column="status" />
		<result property="createdAt" column="createdAt" />
		<result property="updatedAt" column="updatedAt" />
		<result property="sex2" column="sex2" />
		<result property="sessionId" column="sessionId" />
		<result property="sessionLimit" column="sessionLimit" />
		<result property="profile" column="profile" />
		<result property="content" column="content" javaType="[B" jdbcType="BLOB" />
		<result property="content2" column="content2" javaType="[B" jdbcType="BLOB" />
		<result property="authStatus" column="authStatus" />
		<result property="reason" column="reason" />
	</resultMap>

	<insert id="insertUser" parameterType="userVO">
      <![CDATA[
      INSERT INTO USERS(userNum, id , password, name, sex, phone, address, address2, zonecode, email, type, status, createdAt, sessionId, authStatus)
      VALUES (users_SEQ.nextVal, #{id}, #{password}, #{name}, #{sex}, #{phone}, #{address}, #{address2}, #{zonecode}, #{email}, 200, 10, sysdate, #{id}, 0)
      ]]>
	</insert>

	<insert id="insertUser2" parameterType="java.util.Map">
      <![CDATA[
      INSERT INTO USERS(userNum, id , password, name, email, type, status, createdAt, sessionId, address, authStatus)
      VALUES (users_SEQ.nextVal, #{id}, #{password}, #{name}, #{email}, 200, 10, sysdate, 0, 'address', 1)
      ]]>
	</insert>

	<insert id="insertUser3" parameterType="userVO">
      <![CDATA[
     INSERT INTO userinfo(usernum)
	  VALUES ((SELECT max(userNum) from users))
      ]]>
	</insert>

	<insert id="insertUser4" parameterType="java.util.Map">
      <![CDATA[
     INSERT INTO userinfo(usernum) 
	  VALUES ((SELECT max(userNum) from users))
      ]]>
	</insert>
	
	<insert id="insertUser5" parameterType="userVO">
      <![CDATA[
    INSERT INTO delivery(usernum, address, zonecode, address2, delinum, type, createdAt, delibasic)
	values ((SELECT max(userNum) from users), (SELECT address from users where usernum = (select max(usernum) from users)), (SELECT zonecode from users where usernum = (select max(usernum) from users)), 
	(SELECT address2 from users where usernum = (select max(usernum) from users)), 0, 0, sysdate, 0)
      ]]>
	</insert>
	
	<insert id="insertUser6" parameterType="java.util.Map">
      <![CDATA[
    INSERT INTO delivery(usernum, address, zonecode, address2, delinum, type, createdAt, delibasic)
	values ((SELECT max(userNum) from users), (SELECT address from users where userNum = (select max(userNum) from users)), (SELECT zonecode from users where userNum = (select max(userNum) from users)), 
	(SELECT address2 from users where userNum = (select max(userNum) from users)), 0, 0, sysdate, 0)
      ]]>
	</insert>

<select id="randomPwd" resultType="int">
	      <![CDATA[
	        select floor(dbms_random.value(10000000,100000000)) from dual
	        ]]>
	</select>
	
	
	<select id="idCheck" parameterType="String" resultType="int">
	   <![CDATA[
	    select count(*)
	    from users
	    where id = #{id} and status=10
	    ]]>
	</select>

	<select id="logIn" resultMap="userResult">
	    <![CDATA[
	    select id, password
	    from users where id=#{id} and status=10 and authStatus=1

	    ]]>
	</select>

	<update id="updateUser" parameterType="userVO">
	  <![CDATA[
	   update users
	   set name=#{name}, sex=#{sex}, phone=#{phone}, zonecode=#{zonecode}, address=#{address}, address2=#{address2}, email=#{email}, updatedAt=sysdate
	   where id=#{id} and status=10
	        ]]>
	</update>
	
	 <update id="updateUser2" parameterType="userVO">
	  <![CDATA[
	   update delivery
	   set zonecode=#{zonecode}, address=#{address}, address2=#{address2}
	   where userNum = (select userNum from users where id=#{id} and status=10)
	        ]]>
	</update> 

	<update id="updatePwd" parameterType="userVO">
	  <![CDATA[
	   update users
	   set password=#{password}
	   where sessionId=#{sessionId} and status=10
	        ]]>
	</update>

	<update id="updateUserProf" parameterType="java.util.Map">
	 <![CDATA[
	 update userInfo
	 set profile=#{profile}
	where USERNUM =(select users.userNum 
					from users 
					where users.id=#{id} and status=10)
	]]>
	</update>

	<select id="selectUserNum" resultType="int"
		parameterType="userVO">
	 <![CDATA[
	    select userNum
        from users
        where id=#{id} and status=10
	  ]]>
	</select>
	
	<update id="updateUserCont" parameterType="java.util.Map">
         <![CDATA[
         update userInfo
         set content=#{content}, content2=#{content2}
         where userNum=#{userNum}
        ]]>
	</update>

	<update id="keepLogin" parameterType="java.util.Map">
	    <![CDATA[
	   update users
	   set sessionId=#{sessionId}
	   , sessionLimit=#{sessionLimit}
	   where id = #{id} and status=10
	   ]]>
	</update>
	
	<select id="getUserInfo" resultMap="userResult" parameterType="int">
	    <![CDATA[
		select *
		from users a, userinfo b 
		where a.userNum = #{userNum}
		and b.userNum = a.userNum
		and a.status=10
	   ]]>
	</select>
	
	

	<select id="checkUserWithSessionKey" resultMap="userResult"
		parameterType="String">
	    <![CDATA[
		select id
		from users
		where sessionId = #{value}
		and status=10
	   ]]>
	</select>

	<select id="getBySns" resultMap="userResult"
		parameterType="java.util.Map">
	   <![CDATA[
	    select *
	    from users
	    where id = #{id} and status=10
	    ]]>
	</select>

	<select id="pwdCheck" resultMap="userResult"
		parameterType="userVO">
	   <![CDATA[
	    select password
	    from users
	    where id=#{id} and status=10
	    ]]>
	</select>
	<update id="removeSessionId" parameterType="String">
	   <![CDATA[
		update users
	  	set sessionId='abc'
	    where sessionId=#{sessionId}
	    ]]>
	</update>
	
	
	<update id="updateAuthKey" parameterType="java.util.Map">
	   <![CDATA[
		update users
	  	set authKey=#{authKey}
	    where email=#{email}
	    and id =#{id}
	    ]]>
	</update>
	
		<update id="updateAuthStatus" parameterType="java.util.Map">
	   <![CDATA[
		update users
	  	set authstatus=1
	    where authKey=#{authKey}
	    and email=#{email}
	    ]]>
	</update>
	
	<update id="withdrawal" parameterType="userVO">
	   <![CDATA[
		update users
	  	set authstatus=0, reason=#{reason}, status=20
	    where id=#{id} and status=10
	    ]]>
	</update>

</mapper>