#suggestion{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    border: 1px solid lightgrey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.suggestKeyword:hover {
    cursor: pointer;
    background-color: cadetblue;
}

#keywordRank{
    height: 30px;
    overflow-y: hidden;
}
#keywordRank:hover{
    cursor: pointer;
}